:root {
	--main-color: #2f4a2d;
	--background: #e8efe6;
	--bg-card: #eae3d3;
	--bg-light-card: #fbf6ea;
	--hover-color: #4a6f3d;
	--transition: all 0.3s ease;
}

html {
	color: var(--main-color);
	font-family: 'Inter';
	scroll-behavior: smooth;
	font-weight: lighter;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #b6b1a5;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #f8cd60;
}

::-webkit-scrollbar-thumb:hover {
	background: #bea566;
}

ul,
ol {
	list-style: none;
}

a:not([class]) {
	text-decoration: none;
	color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

p {
	font-weight: 400;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline-offset: 5px;
}

body {
	background: var(--background);
	color: var(--main-color);
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

[class*='__item'] {
	transition: var(--transition);
}

section {
	scroll-margin-top: 100px;
	margin: 100px 0;
	animation: fadeIn 0.6s ease-out forwards;
}

main {
	width: 1280px;
	margin: auto;
	margin-top: 100px;
}

header {
	margin: 0;
	padding: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--bg-card);
	z-index: 5;
}

.navbar {
	width: 1280px;
}

.navbar__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__btns {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	color: var(--main-color);
	font-weight: 400;
}

.navbar__logo h1 {
	font-size: 36px;
}

.main__title {
	width: 697px;
	margin-bottom: 20px;
}

.main__title h1 {
	font-size: 64px;
	width: 700px;
}

.main__search-bar {
	position: relative;
	margin-bottom: 20px;
}

.main__search-bar input {
	width: 950px;
	height: 60px;
	border-radius: 20px;
	border: 2px solid #2f4a2d;
	background: none;
	font-size: 20px;
	padding-left: 10px;
}

.main__search-bar input:focus {
	outline: none;
	box-shadow: none;
}

.main__search-bar button {
	position: absolute;
	height: 60px;
	width: 100px;
	background-color: var(--main-color);
	color: white;
	border: none;
	font-size: 20px;
	border-radius: 0 20px 20px 0;
	right: 25%;
	cursor: pointer;
}

.main__popular-domain__title {
	margin-bottom: 30px;
}

.main__popular-domain__title h1 {
	font-size: 36px;
	margin-bottom: 5px;
}

.main__popular-domain__title p {
	font-size: 24px;
}

.main__popular-domain__cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 40px;
	margin-bottom: 20px;
}

.main__popular-domain__item {
	padding: 30px;
	width: 336px;
	height: 131px;
	background-color: var(--bg-card);
	border-radius: 20px;
}

.main__popular-domain__item h3 {
	font-size: 32px;
	font-weight: 500;
}

.main__popular-domain__item p {
	font-size: 24px;
	font-weight: 500px;
}

.main__choose h1 {
	font-size: 36px;
	margin-bottom: 10px;
}

.main__choose p {
	font-size: 24px;
	width: 915px;
}

.about__title h1 {
	text-align: center;
	font-size: 64px;
	margin-bottom: 40px;
}

.about__cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about__items {
	width: 338px;
	height: 365px;
	background-color: var(--bg-light-card);
	padding: 30px;
	border-radius: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about__items__desc h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.about__items__desc p {
	font-size: 24px;
}

.trusted__title {
	display: flex;
	justify-self: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
}

.trusted__title h1 {
	font-size: 64px;
	margin-bottom: 20px;
}

.trusted__title p {
	font-size: 36px;
	text-align: center;
	width: 600px;
}

.trusted__company {
	background-color: var(--bg-card);
	padding: 30px;
	display: flex;
	justify-content: center;
}

.work__title h1 {
	text-align: center;
	font-size: 64px;
	margin-bottom: 40px;
}

.work__cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.work__item {
	width: 300px;
	height: 365px;
	background-color: var(--bg-light-card);
	padding: 30px;
	border-radius: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.work__item__desc h1 {
	font-size: 36px;
	margin-bottom: 15px;
	width: 230px;
}

.work__item__desc p {
	font-size: 24px;
}

.special__title h1 {
	font-size: 64px;
	margin-bottom: 40px;
	text-align: center;
}

.special__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 40px;
}

.special__item {
	text-align: center;
	background-color: var(--bg-card);
	border-radius: 20px;
	padding: 30px;
	width: 336px;
	height: 169px;
}

.special__item h1 {
	font-size: 50px;
}

.special__item p {
	font-size: 30px;
}

.reviews__title h1 {
	font-size: 64px;
	margin-bottom: 60px;
	text-align: center;
}

.reviews__cards {
	display: flex;
	gap: 200px;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 80px;
}

.reviews__item {
	padding: 30px;
	border-radius: 20px;
	background-color: var(--bg-light-card);
	width: 450px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reviews__item__person {
	display: flex;
	gap: 40px;
	align-items: center;
}

.reviews__item__abt h3 {
	font-size: 40px;
}

.reviews__item__abt p {
	font-size: 24px;
}

.reviews__item__desc p {
	font-size: 32px;
	text-align: center;
	margin-bottom: 20px;
}

.reviews__item__mark {
	display: flex;
	justify-content: center;
}

.faq__title h1 {
	font-size: 64px;
	margin-bottom: 40px;
	text-align: center;
}

.faq__cards {
	display: flex;
	gap: 40px;
	flex-direction: column;
	align-items: center;
}

.faq__item {
	background-color: var(--bg-card);
	border-radius: 20px;
	padding: 10px 50px;
	width: 953px;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	row-gap: 10px;
}

.faq__item h2 {
	font-size: 36px;
}

.faq__item p {
	font-size: 24px;
}

.contact__title h1 {
	font-size: 64px;
	margin-bottom: 10px;
	text-align: center;
}

.contact__title p {
	font-size: 32px;
	text-align: center;
	margin-bottom: 60px;
}

.contact__form {
	padding: 50px 100px;
	background-color: var(--bg-light-card);
	display: flex;
	justify-content: space-between;
}

.contact__form__info {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.text-form h1 {
	font-size: 36px;
}

.text-form p {
	font-size: 28px;
	width: 480px;
}

.contact__form__response {
	border-radius: 20px;
	background-color: var(--bg-card);
	width: 405px;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact__form__response p {
	font-size: 32px;
	width: 342px;
}

.contact__form__form h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-bottom: 30px;
}

form input,
textarea {
	width: 400px;
	height: 60px;
	border-radius: 20px;
	border: none;
	background-color: var(--bg-card);
	resize: none;
	padding: 20px;
	font-size: 20px;
}

textarea {
	height: 150px;
}

.form-btn {
	color: white;
	width: 210px;
	height: 65px;
	border: none;
	background-color: var(--main-color);
	font-size: 24px;
	border-radius: 20px;
}

.map__title h1 {
	font-size: 64px;
	margin-bottom: 40px;
	text-align: center;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--bg-card);
	padding: 40px 0;
}

.footer__container {
	width: 1280px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
}

hr {
	color: var(--main-color);
	height: 2px;
}

.footer__content h2 {
	font-size: 32px;
}

.footer__content li {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 5px;
}

.footer__cop p {
	font-size: 20px;
}

a:hover {
	color: #4a6f3d;
}

.main__search-bar button:hover {
	background-color: #4a6f3d;
	transform: scale(1.05);
}

.main__popular-domain__item:hover,
.about__items:hover,
.work__item:hover,
.special__item:hover,
.reviews__item:hover,
.faq__item:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(47, 74, 45, 0.1);
}

.form-btn:hover {
	background-color: #4a6f3d;
	transform: scale(1.05);
}
